.Compiler {
	max-height: 100vh;
	width: 100%;
	overflow-y: hidden;
	background-color: #474747;
}

.main {
	display: flex;
	height: calc(100vh - 50px);
}

.right-container {
	position: relative;
	flex: 55%;
	height: calc(100vh - 50px);
	flex-direction: column;
	padding: 5px;
	display: flex;
}

.left-container {
	flex: 45%;
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	background-color: #fbf7f7;
	border-left: 3px solid #1f65e6;
	padding: 5px;
}

#left-problem {
	display: flex;
}

.input-box {
	flex: 50%;
}

.input-box textarea {
	font-size: 16px;
}

.spinner-box {
	flex: 50%;
	background-color: #242424;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner-box img {
	width: 200px;
}

.output-box {
	flex: 45%;;
	background-color: white;
	overflow-y: auto;
	overflow-x: auto;
	height: 20vh
	/* color: white; */
	/* position: relative; */
	/* display: flex; */
}

.clear-btn {
	position: absolute;
	bottom: 10px;
	right: 198px;
	width: 80px;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	color: white;
	background-color: #1f65e6;
	border: none;
	border-radius: 4px;
	transition: 0.3s;
	cursor: pointer;
}

/* .output-box {
	background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
} */

h4 {
	color: #060900;
}

/* p {
	color: #f2f5ee;
} */

#code-inp {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	resize: none;
	background-color: white;
	color: black;
	padding: 5px;
}

#code-inp:focus {
	outline: none;
}

.run-btn {
	position: absolute;
	bottom: 10px;
	right: 108px;
	width: 80px;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	background-color: #afec3f;
	border: none;
	border-radius: 4px;
	transition: 0.3s;
	cursor: pointer;
}

.run-btn:active {
	background-color: #6e9427;
}

.subm-btn {
	position: absolute;
	bottom: 10px;
	right: 18px;
	width: 80px;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	background-color: #afec3f;
	border: none;
	border-radius: 4px;
	transition: 0.3s;
	cursor: pointer;
}

.subm-btn:active {
	background-color: #6e9427;
}

/* #container {
    width: 100px;
    height: 100px;
    position: relative;
  } */
  /* #cam-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  } */
  #cam-div {
    z-index: 10;
  }